* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("static/dogs/img/fondo.jpg");
    background-size: 100%;
    background: url("/static/dogs/img/fondo.jpg") fixed center center / cover;
    background-repeat: no-repeat;
}